.roles-table {
  // tr {
  // display: grid;
  // grid-gap: 1%;
  // grid-template-columns: minmax(40px, 1fr) minmax(200px, 2fr) minmax(200px, 3fr);
  // grid-template: '. . .' 'popup popup popup';
  // }
}

.number-column {
  width: 40px;
}

.name-column {
  width: 30%;
}

.rules-column {
  width: 40%;
}
