.menu__button {
  border: none;
  font-size: 16px;
  background-color: $lightblue;
  color: #7d7d7d;
  margin-right: $margins;
  margin-left: $margins;
  &:hover {
    cursor: pointer;
  }
}

.munu__wrap {
  position: relative;
}

.menu__block {
  border-radius: 3px;
  background-color:  white;
  box-shadow: 1px 2px 15px 0px rgba(68, 100, 214, 0.15);
  padding: 13px 0;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 999;
  min-width: 250px;
  &:before {
    content: '\f0d8';
    font-family: FontAwesome;
    font-size: 30px;
    color: white;
    position: absolute;
    top: -20px;
    right: 18px;
  } 
}

.menu__item {
  background-color: white;
  border: none;
  padding: 12px 34px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: black;
  font-weight: 400;
  text-align: left;
  &:hover {
    background-color: #f2f3f7;
    cursor: pointer;
  }
}