@import '~css/base.scss';

.form-create-attribute {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}

.select {
  margin-top: 15px;
  margin-bottom: 20px;
}

.form-create-attribute-input {
  max-width: 250px;

  & + &,
  & + .form-create-attribute-button {
    margin-top: 10px;
  }

  &:not([class*=' valid']) ~ .form-create-attribute-button {
    pointer-events: none;
    filter: opacity(0.5);
  }
}

.form-create-attribute-button {
  display: flex;
  width: 120px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  filter: opacity(1);
}

.form-create-attribute-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  padding: 7px;
  background-color: #ffc875;
  background-image: url('icon-close.svg'param(--color #3ac162));
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-origin: content-box;
  border-radius: 50%;
  filter: opacity(0.6);
  transition: filter 0.3s ease;

  &:hover {
    filter: opacity(1);
  }
}
