html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $base-font;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.ui-title {
  margin-bottom: 0;
}

.verticalContainer {
  justify-content: center;
}