// base
$width: 100%;
$max-width: 100%;
$base-font-size: 14px;

// colors
$black: #1f1f1f;
$gray: #8f9296;
$gray-light: #dfe3e9;
$green: #27aa11;
$green-light: #69cb3e;
$red: #ff4e4a;
$blue: #6584f0;
$lightblue: #eceff8;
$row-gray: #f2f3f7;

$margins: 14px;