@import "~css/base.scss";

.shops-page {
}

.shops-button {
}

.shops-table {
}

.number-column {
  width: 40px;
}

.name-column {
  width: 150px;
}

.country-column {
  width: 150px;
}

.city-column {
  width: 150px;
}

.address-column {
  width: 150px;
}