/*.count__group {
  display: flex;
  justify-content: space-between;
}

.count {
  float: left;
  position: relative;
  padding: 20px 0 0 0;
  background-color: #e5e5e5;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 180px;
  box-sizing: border-box;
  margin-bottom: calc((100% - 5*180px)/4);
  margin-left: calc((100% - 5*180px)/4);
  display: flex;
  align-items: center;
  padding: 20px;
  width: calc( (100% - 30px) / 3);
  text-align: center;
  margin-bottom: 20px;

  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(6n) {
    margin-left: 0;
  }
  .count__label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 14px;
  }
  .count__prev {
    display: block;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 14px;
  }
}*/

.widget-counter {
  display: flex;
  align-items: center;
  padding: 20px;
  width: calc( (100% - 3*15px) / 4);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  .fa-ruble {
    margin-left: 5px;
    color: #193651;
  }
  &:not(:nth-child(4n + 1)) {
    margin-left: 15px;
  }

  &::before {
    content: "";
    display: block;
    min-width: 32px;
    height: 43px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
  }
}

.widget-counters-container {
  display: flex;
  flex-wrap: wrap;
}

.widget-counter__title {
  font-size: 12px;
  line-height: 16px;
  color: #b8b2c2;

  & + .widget-counter__value {
    margin-top: 5px;
  }
}

.widget-counter__value {
  display: flex;
  align-items: center;

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #193651;
    margin: 0;

    & + span {
      margin-left: 5px;
    }
  }

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #4cb578;

    &.plus {
      color: #4cb578;
    }
    &.minus {
      color: #eb5757;
    }
  }
}

.widget-counter::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cuse xlink:href='%23path0_fill' fill='%23E3E6FA'/%3E%3Cuse xlink:href='%23path1_fill' transform='translate%285.33 8.063%29' fill='%23E3E6FA'/%3E%3Cuse xlink:href='%23path2_fill' transform='translate%285.33 18.813%29' fill='%23E3E6FA'/%3E%3Cuse xlink:href='%23path2_fill' transform='translate%285.33 26.875%29' fill='%23E3E6FA'/%3E%3Cuse xlink:href='%23path3_fill' transform='translate%285.33 13.438%29' fill='%23E3E6FA'/%3E%3Cdefs%3E%3Cpath id='path0_fill' d='M31.445.254a1.313 1.313 0 0 0-1.2-.183L22.71 2.602 16.496.098a1.313 1.313 0 0 0-.99 0L9.294 2.602 1.755.071a1.311 1.311 0 0 0-1.2.183A1.352 1.352 0 0 0 0 1.344v40.312c0 .433.205.839.555 1.091.349.253.792.32 1.2.183L9.29 40.4l6.216 2.504c.317.13.672.13.989 0l6.216-2.504 7.536 2.531a1.321 1.321 0 0 0 1.197-.183c.35-.252.555-.658.555-1.09V1.344c0-.433-.205-.839-.555-1.091zM29.333 39.79l-6.242-2.096a1.315 1.315 0 0 0-.918.027L16 40.208l-6.173-2.489a1.363 1.363 0 0 0-.494-.094 1.26 1.26 0 0 0-.421.07l-6.245 2.096V3.21l6.245 2.096c.299.105.621.094.917-.027L16 2.793l6.17 2.489a1.3 1.3 0 0 0 .918.027l6.245-2.1v36.582z'/%3E%3Cpath id='path1_fill' d='M12 0H1.333C.597 0 0 .602 0 1.344c0 .741.597 1.343 1.333 1.343H12c.736 0 1.333-.602 1.333-1.343C13.333.602 12.736 0 12 0z'/%3E%3Cpath id='path2_fill' d='M9.333 0h-8C.597 0 0 .602 0 1.344c0 .741.597 1.343 1.333 1.343h8a1.34 1.34 0 0 0 1.334-1.343A1.34 1.34 0 0 0 9.333 0z'/%3E%3Cpath id='path3_fill' d='M20 0H1.333C.597 0 0 .602 0 1.344c0 .741.597 1.343 1.333 1.343H20c.736 0 1.333-.602 1.333-1.343C21.333.602 20.736 0 20 0z'/%3E%3C/defs%3E%3C/svg%3E");
}
